.cartView {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.cartItem {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
}

.cartItem img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 1rem;
}

.itemDetails {
    display: flex;
    flex-direction: column;
}

.tabRow h5 {
    font-size: 1rem;
    margin: 0;
}

.itemDetails p {
    margin: 0;
    color: #666;
}

.tabRow {
    background-color: rgba(50, 253, 166, 0.22);
    color: black;
    padding: 6px 0 !important;
}

.tabRow:hover {
    background-color: rgba(173, 255, 47, 0.48);
}
