.sidebar {
    width: 260px !important;
    /*background-color: #212B36 !important;*/
}

.sidebarHr hr {
    width: 100%;
    margin: 5px 0 5px !important;
}

.mainUl {
    padding: 0;
}

.mainUl li {
    list-style-type: none;
}

.mainUl li h6 {
    font-size: 14px !important;
    font-weight: 700;
    /*color: #ffffff;*/
}

.sidebarNavUl {
    padding: 10px 0;
}

.sidebarNavUl li {
    list-style-type: none;
    border-radius: 8px;
    padding: 8px 15px !important;
}

.sidebarNavUl li a {
    text-decoration: none;
    color: #67748E;
}

.sidebarNavUl li:hover {
    background-color: #fff6f0;
}

.sidebarNavUl li:hover a {
    color: #FF9F43;
    font-weight: 600;
}

.sidebarNavUl li svg {
    width: 18px;
    margin-right: 10px;
}

.sidebarNavUl .active {
    background: rgba(254, 159, 67, 0.08);
    color: #FF9F43;
}

.sidebarNavUl .active a {
    color: #FF9F43;
}

